
@{
    ViewBag.Title = "Index";
}
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery.signalR-2.2.1.js">
</script>

<script src="/signalr/hubs"></script>
<script type="text/javascript">
    var userhub = $.connection.UserHub;
        userhub.client.addUser = function (userName, userAge, userSalary) {
            $("table > tbody > tr").append("<td><b>" + userName + "</b></td><td><b>" + userAge + "</b></td><td><b>" + userSalary + "</b></td>");
        }
        $.connection.hub.start();
</script>
<p></p>
<div class="container">
    <h2>User</h2>
    <table class="table table-bordered" id="dataTable">
        <thead>
            <tr>
                <th>User Name</th>
                <th>User Age</th>
                <th>User Salary</th>
            </tr>
        </thead>
        <tbody>
            <tr>

            </tr>
        </tbody>
    </table>
</div>
